body{
  display:block;
  font-family:微软雅黑, sans-serif;
  font-size:2rem;
  text-align:center;
  color:#CFCFCF;
  background-color:#333333;
  }
img{height:500px;}
*{
  box-sizing:border-box;
  padding:0;
  margin:0
  }
.mgt_50{
  margin-top:-500px;
  position:relative;
  z-index:2;
  }
.font16{
  font-size:1rem;
  margin-top:420px;
  }
a{
  text-decoration-line:none;
  color:#CFCFCF;
  line-height:1.5em;
  border-bottom:1px solid #CFCFCF;
  }
